<form id="searchForm">
  <label for="searchOption"></label>
  <select name="" id="searchOption">
    <option value="id" selected>아이디</option>
    <option value="name">이름</option>
    <option value="phone_number">핸드폰번호</option>
  </select>
  <label for="q"></label>
  <input type="text" id="q" placeholder="검색어를 입력해주세요">
</form>
<table id="user-table">
  <thead>
  <tr>
    <th>아이디</th>
    <th>이름</th>
    <th>핸드폰번호</th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>